doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
            
    body 
        h2 Restalecer contrase単a
        p Hola, has solicitado restablecer tu contrase単a, haz click en el siguiente enlace para restablecerla.
        p Este enlace es temporal, cambia tu contrase単a lo mas rapido posible.
        a(href=`${resetUrl}`) Resetear la contrase単a
        p Si no puedes aceder a este enlace, visita #{resetUrl}
        p Si no solicistaste este correo, puedes ignorarlo.